.button{
  text-decoration: none;
  border: none;
  background-color: white;
}
.button:hover{
  text-decoration: line-through;
  background-color: white;
  border: 1px red;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
}